/* Author: Nic Aitch */
body {
  margin: 20px;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  line-height: 1em;
}
ul#timer {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
#timer li {
  padding: 8px;
}
#timer li span {
  
}
#timer .total, 
#timer .rounded, 
#timer .previous, 
#timer .elapsed, 
#timer .started {
  display: none;
  float: right;
  position: relative;
  background: white;
}
#timer .elapsed {
  background: #dedede;
  margin-right: -5px;
  padding-right: 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
#timer .button {
  margin-bottom: 10px;
  float: right;
  padding: 0;
  position: relative;
  z-index: 3;
}
#timer .button a {
  min-width: 80px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 8px 10px;
  display: block;
  font-size: 16px;
  text-align: center;
  float: right;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
#timer .start {
  color: white;
  background: #99cc33;
  background: -webkit-gradient(linear, left top, left bottom, from(#99cc33), to(#8fbe30)); 
  background: -moz-linear-gradient(top,  #99cc33,  #8fbe30);
  text-shadow: 0 -1px 0 #709526;
}
#timer .start:hover {
  background: #8fbe30;
}
#timer .stop {
  color: white;
  background: #E51837;
  background: -webkit-gradient(linear, left top, left bottom, from(#E51837), to(#c61530)); 
  background: -moz-linear-gradient(top,  #E51837,  #c61530);
  text-shadow: 0 -1px 0 #a81228;
}
#timer .stop:hover {
  background: #c61530;
}